:root{
    --color-champanhe: #ECD5BB;
    --color-crimson: #710117;
    --color-serenity: #54627B;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-champanhe);
    font-family: 'Quicksand', sans-serif;
}

img {
    width: 100%;
    text-align: center;
}

h1{
    font-family:'Dancing Script', cursive;
    text-align: center;
    color: var(--color-crimson);
    margin: 6px;
}

.menu-group{
    margin: 3px 10px;
    padding: 5px 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    
}

ul {
    display: inline;
    margin: auto;
    text-align: center;
}

.menu-opcoes {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0 2%;
}

.menu-link{
    text-decoration: none;
    color: var(--color-crimson);
    font-weight: 500;
  
}

.menu-link:hover{
    font-weight: 300;
}

main{
    margin: 2vh;
    text-align: center;
}

.destaque{
    overflow: hidden;
    height: 220px;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.apresentacao{
    height: 35px;
}

.apresentacao div{
    height: 15px;
    border-bottom: solid 1px var(--color-crimson);
    text-align: center;
}

.apresentacaoTexto{
    padding-bottom: 15px;
    font-weight: bold;
    width: 300px;
    font-size: 25px;
    background-color: var(--color-champanhe);
    margin: 0 auto;
    
}

#destaque{
    width: 100%;
    max-width: 80vw;

}

.exemplo{
    display: grid;
    grid-template:  150px 150px / 25% 25% 50%;
    grid-template-areas: "img1 img2 grande" "img3 img4 grande";
}

.exemploImagem{
    overflow: hidden;
    margin: 2px;
}

.exemplo p{
    display: none;
}

.exemplo p:hover{
    display: block;
}

.exemplo img:hover{
    padding-top: 30px;
    opacity: 45%;
}

.exemploGrande{
    height: 296px;
    margin: 2px;
    overflow: hidden;
}

#imggrande{
    height: 296px;
    width: 100%;

}

